.box{
  width: 100px;
  height: 20px;
  border: 1px solid black;
  margin: 30px 0px 0px 30px;
}

.flex{
  display: flex;
}

.contentFlex{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  border: tomato 1px dotted;
}

.clicked{
  background-color: yellow;
}